/*Gold - #f9c006*/

/*Saddle brown - #3F1508*/

/*Dark olive green - #5C4520*/

/*Dim gray - #7B7766*/

/*Maroon/black? - #1D0E04*/

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #F1F2F5;
  color: #3F1508;
}

p {
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 30px;
  text-align: center;
  background: #f9c006;
}

.header h1 {
  font-size: 50px;
  color:#1D0E04;
  text-shadow: 1px 1px darkgrey;
  font-family: 'Merriweather', serif;
}

.button {
  text-align: center;
}

.footer {
  padding: 10px;
  text-align: right;
  background: #f9c006;
}
